<% if @comments %>
  <% @comments.each do |c| %>
    <h1 class="topic_comment"><%= c.comment %></h1>
  <% end %>
<% end %>

<%= form_for([@topic, @comment]) do |f| %>

<% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@comment.errors.count} error(s) prevented the comment from being saved:" %></h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :comment, "Comment" %><br />
  <%= f.text_area :comment %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
