<%= form_for([@book, @topic]) do |f| %>

<div class="field">
  <%= f.label :title, "Title" %><br />
  <%= f.text_field :title %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<div>
<%= button_to 'Delete', book_topic_path, method: 'delete', data: { confirm: 'Are you sure?' } %>
</div>
