<%= form_for @book, :url => { :action => "update" } do |f| %>

<div class="field">
  <%= f.label :title, "Title" %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :author, "Author" %><br />
  <%= f.text_field :author %>
</div>

 <div class="field">
  <%= f.label :book_cover, "Cover Image" %><br />
  <%= f.text_field :book_cover %>
</div>

<div class="field">
 <%= f.label :list_num, "List Number" %><br />
 <%= f.text_field :list_num %>
</div>

<div class="actions">
  <%= f.submit "Edit Book Information"%>
</div>
<% end %>

<div>
<%= button_to 'Delete', book_path, method: 'delete', data: { confirm: 'Are you sure?' } %>
</div>
