<%= form_for @book, :url => { :action => "update" } do |f| %>

<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@book.errors.count} error(s) prevented the book from being edited:" %></h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :title, "Title" %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :author, "Author" %><br />
  <%= f.text_field :author %>
</div>

 <div class="field">
  <%= f.label :book_cover, "Cover Image" %><br />
  <%= f.text_field :book_cover %>
</div>

<div class="field">
 <%= f.label :list_num, "List Number" %><br />
 <%= f.text_field :list_num %>
</div>

  <%= f.select :status, [['Featured','Featured'],['Coming up','Coming up'],['Done','Done']] %>

<div class="actions">
  <%= f.submit "Edit Book Information"%>
<% end %>

<%= button_to 'Delete Book', book_path, method: 'delete', data: { confirm: 'Are you sure?' } %>
</div>
