<!-- <h3><a href="<%= new_book_path %>">Add a book</a></h3> -->

<% @books.each do |book| %>

<ul>
  <li><a href="/books/<%=book.id %>"><%= book.title %></a></li>
  <li><%= book.author %></li>
  <li><%= book.book_cover %></li>
  <li><%= book.list_num %></li>
</ul>
<% end %>
