<%= form_for(@book) do |f| %>

<div class="field">
  <%= f.label :title, "Title" %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :author, "Author" %><br />
  <%= f.text_field :author %>
</div>

 <div class="field">
  <%= f.label :book_cover, "Cover Image" %><br />
  <%= f.text_field :book_cover %>
</div>

<div class="field">
 <%= f.label :list_num, "List Number" %><br />
 <%= f.text_field :list_num %>
</div>

  <%= f.select :status, [['Featured','Featured'],['Coming up','Coming up'],['Done','Done']] %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
