<div class="content">
  <img src="<%= @book.book_cover %>">
  <h1><%= @book.title %></h1>
  <h2><%= @book.author %></h2
</div>

  <h2>Discussions</h2>
    <% @book.topics.each do |t| %>
      <h3><%= t.title %></h3>
    <% end %>


<a id="edit" href="/books/<%=@book.id%>/edit">Edit Book Information</a>
